.education__container {
  text-align: center;
  margin-top: 2rem;
  margin-bottom: -10rem;
}

.badge {
  transform: scale(0.5);
  margin-top: -7%;
}

p {
  width: 75%;
  margin-left: 50%;
  transform: translateX(-50%);
}

/* ===== MEDIA QUERIES ===== */

/* MEDIUM */
@media screen and (max-width: 1024px) {
  #education {
    margin-top: 3rem;
  }
  .education__container {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .badge {
    transform: scale(0.9);
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .badge {
    margin-top: 1rem;
    transform: scale(0.9);
  }
}