header {
  height: 100vh;
  padding-top: 7rem;
  overflow: hidden;
}

.header__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.portrait {
  width: 22rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem;
  overflow: hidden;
}

blockquote {
  margin-top: 9rem;
  max-width: 60%;
  width: 60%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

figcaption {
  margin-top: 2rem;
}

.portrait > img {
  border-radius: 50%;
  border: 0.2rem solid var(--color-primary);
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  top: 26rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

.scroll__down:hover {
  transform: rotate(90deg) translateX(1rem);
}

/* ===== MEDIA QUERIES ===== */

/* MEDIUM */
@media screen and (max-width: 1024px) {
  header {
    height: 68vh;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }

  .scroll__down {
    display: none;
  }
}