@import url('https://fonts.googleapis.com/css2?family=Montserrat');
@import url('https://fonts.googleapis.com/css2?family=Karla');

/* ===== CSS RESET ===== */

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* ===== VARIABLES DECLARATION ===== */

:root {
  --color-bg: #000;
  --color-bg-variant: #222;
  --color-primary: #FFB14A;
  --color-primary-variant: #f3dcbf;
  --color-white:#fff;
  --color-light: rgb(248, 163, 36);

  --font-header: 'Montserrat';
  --font-content: 'Karla';

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;

  --transition-a: all 400ms ease;

}

/* ===== SCROLLING MANAGEMENT ===== */

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

/* ===== APPLICATION STYLING ===== */

body {
  background-color: var(--color-bg);
  color: var(--color-white);
  font-family: var(--font-header);
  line-height: 1.7;
}

h1, h2, h3, h4, h5 {
  font-size: 1.4rem;
  font-weight: 500;
}

h1 {
  font-family: var(--font-header);
  font-size: 3rem;
}

h2 {
  font-family: var(--font-header);
  font-size: 2rem;
  transition: var(--transition-a);
}

h2:hover {
  transform: rotate(-5deg) scale(1.2) ;
}

h6 {
  font-family: var(--font-header);
  font-size: 0.8rem;
}

.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

section {
  margin-top: 9rem;
}

section > h2,
section > h5 {
  color: var(--color-primary-variant);
  text-align: center;
}

section > h2 {
  color: var(--color-primary);
  margin-bottom: 3rem;
}

.text-light {
  color: var(--color-light);
}

a {
  color: var(--color-primary);
  transition: var(--transition-a);
}

a:hover {
  color: var(--color-white);
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-primary);
  padding: 0.65rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition-a);
}

.btn:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.btn-primary {
  background: var(--color-primary);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* ===== MEDIA QUERIES ===== */

/* MEDIUM */
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* MEDIUM AND LANDSCAPE*/
@media screen and (max-width: 1024px) and (orientation: landscape){
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 28rem;
  }
}

/* SMALL */
@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}